@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a onclick="alert('this is a test alert!')">Open an alert</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row text-center">
    <div class="col-12">
        <form action="https://google.com">
            <button id="google-btn" type="submit" class="btn btn-primary" disabled>Some Button</button>
        </form>
    </div>
</div>
